@charset "UTF-8";

#header{
	width: 100%;
	background-color: #000080;
	height: 60px;
	padding-top:10px;
}

html{
	min-height: 100vh;
}

body{
    width: 100%;               /* 幅指定 */    /*幅指定をすると画面比率が変わっても位置が固定される*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    text-align:center;
}

#TaskForm{
	width: 100%;
}

#ItemHeader{
	display: flex;
	list-style: none;
	margin: 0px 0px;
	text-align:center;
}

#TaskHeader{
	padding:0px 80px 0px 315px;
}

#StartDayHeader{
	padding:0px 60px 0px 0px;
}

#StartTimeHeader{
	padding:0px 60px 0px 0px;
}

#FinishDayHeader{
	padding:0px 60px 0px 0px;
}

#FinishTimeHeader{
	padding:0px 20px 0px 0px;
}

#TaskErrorMessage{
	color: red;
	text-align:left;
	margin: 18.72px 0px 0px 0px;
}

#TaskErrorMessage:empty {
	display: none;
}

#JsValidateMessage:empty {
	display: none;
}

#JsValidateMessage{
	color: red;
	text-align:unset;
	text-align:left;
	margin: 0px 360px 0px 0px;
}

#footer{
	width: 100%;
	background-color: #000080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0px; /*下に固定*/
}
