@charset "UTF-8";

#header{
	background-color: #000080;
	height: 60px;
	padding-top:10px;
}

#TwoColumn{
	display:flex
}

#setting{
	background:rgb(230, 230, 230);
	float: left;
	width: 13%;
	text-align:left;
	padding:0px 0px;
}

#dafaultTimeLabel{
	font-size: 14px
}
#defaultTimeCheckBox{
	margin:0px 0px 3px 0px;
}

#menu{
	list-style: none;
	padding:0px 0px;
}

#main{
	float: left;
	width: 70%;
	min-height: 80vh;
	padding:0px 0px 0px 140px;
}

h2 {
	color: blue;
	text-align:center;
	padding:0px 230px 0px 0px;
}

#ErrorMessage{
	color: red;
	text-align:center;
}

body{
	min-height: 80vh;
    position: relative;/*←相対位置*/
   /*  padding-bottom: 120px;←footerの高さ */
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

#Tasks{
   /* width: 800px;               /* 幅指定 */
    margin:  0 auto;            /* 中央寄せ */
}

table.Task{
	table-layout: fixed;
	font-family: Meiryo UI ;
	font-size: 100%;
	text-align:center;
	vertical-align: top;
	/*
	border: 1px #ff0000 solid;
	*/
	border-collapse: collapse;
}

th,td{
	/*
	border: 1px #ff0000 solid;
	border-collapse: collapse;
	*/
	height:100%;
}

.date{
	width: 65px;
}

#Field1{
	height: 60px;               /* 高さ指定 */
}
#Field2{
	padding: 2px 2px 2px 2px;
	vertical-align: middle ;
	border-bottom: 2px solid blue;
}

.Button{
	text-align: right;
	display: flex;
	margin:0px auto;
}
.DeleteButton{
	text-align: center;
	vertical-align: middle ;
}

#ItemHeader{
	display: flex;
	 list-style: none;
	 margin: 0px 0px;
	 padding: 0px 0px 0px 15px;
}

#TaskHeader{
	padding:0px 0px 0px 0px;
}

#StartDayHeader{
	padding:0px 55px 0px 65px;
}

#StartTimeHeader{
	padding:0px 20px 0px 16px;
}

#FinishDayHeader{
	padding:0px 55px 0px 35px;
}

#FinishTimeHeader{
	padding:0px 20px 0px 16px;
}

#TaskCell{
	width:400px;
}

h3{
	margin: 18.72px 0px 10px 0px;
}

#TaskErrorMessage{
	color: red;
	text-align:left;
	margin: 18.72px 0px 0px 0px;
}

#TaskErrorMessage:empty {
	display: none;
}

#JsValidateMessage:empty {
	display: none;
}

#JsValidateMessage{
	color: red;
	text-align:left;
	margin: 18.72px 0px 0px 0px;
}


#TaskForm{
    width: 1000px;    /* 幅指定 */
}

#footer{
	clear: both;
	background-color: #000080;
    color: white;
    text-align: center;
    padding: 15px 0;
}